<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
</head>
<body>

<form th:action="@{/pdf/new}" id="quillEditorForm" method="post">

    <div>
        <label for="filename" class="form-label">Title</label>
        <input
                type="text"
                id="filename"
                name="filename"
                placeholder="Enter the name of your file"
                required
        >
    </div>

    <div id="quillEditor"></div>
    <br>

    <input type="hidden" name="delta" id="deltaInput">
    <input type="hidden" name="htmlContent" id="htmlInput"/>

    <button type="submit">Create PDF document</button>
</form>
</body>

<script>
    const quill = new Quill('#quillEditor', {theme: 'snow'});

    document.getElementById('quillEditorForm').addEventListener('submit', function () {

        const delta = quill.getContents();
        const html = quill.root.innerHTML;

        document.getElementById('deltaInput').value = JSON.stringify(delta);
        document.getElementById('htmlInput').value = html;
    });
</script>
</html>